// conf/docker.config
// Basic Docker configuration for local execution

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)' // Run as current user to avoid permission issues
}

// Optional: If you want to specify default process resources for Docker profile
// process {
//    withName: some_process_name {
//        cpus = 2
//        memory = '4.GB'
//    }
// } 